# Animal Shelter Outcomes

Every year, approximately 7.6 million companion animals end up in US shelters. Many animals are given up as unwanted by their owners, while others are picked up after getting lost or taken out of cruelty situations. Many of these animals find forever families to take them home, but just as many are not so lucky. 2.7 million dogs and cats are euthanized in the US every year.

### Data

Kaggle is hosting this competition for the machine learning community to use for data science practice and social good. The dataset is brought to you by Austin Animal Center. Shelter animal statistics were taken from the ASPCA.

### Predictors and Outcomes

Predictors are age, animal type and sex. The outcome will identify whether the animal was adopted, killed, returned to owner, or transfered.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as pyplot
%matplotlib inline

In [2]:
# First import data file and look at data fields

animals = pd.read_csv("train.csv")
animals.head(5)

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [3]:
# How many records are there?

print len(animals.index)

26729

In [4]:
# Check for missing data

missing_name = animals['Name'].isnull().sum()
print "Missing Names: %r" %missing_name

missing_datetime = animals['DateTime'].isnull().sum()
print "Missing Dates: %r" %missing_datetime

missing_type = animals['AnimalType'].isnull().sum()
print "Missing Animal Types: %r" %missing_type

missing_sex = animals['SexuponOutcome'].isnull().sum()
print "Missing Sexes:  %r" %missing_sex

missing_age = animals['AgeuponOutcome'].isnull().sum()
print "Missing Ages: %r" %missing_age

missing_breed = animals['Breed'].isnull().sum()
print "Missing Breeds: %r" %missing_breed

missing_color = animals['Color'].isnull().sum()
print "Missing Colors: %r" %missing_color

Missing Names: 7691
Missing Dates: 0
Missing Animal Types: 0
Missing Sexes:  1
Missing Ages: 18
Missing Breeds: 0
Missing Colors: 0

While names will likely not affect the outcome of shelter animals, the missing ages and sexes will need to be replaced with values as they will be an important predictor on whether or not an animal gets adopted.

In [5]:
# Partition ages into values that can be converted to integers
new = animals['AgeuponOutcome'].str.partition(" ")
new.head(5)

   0  1      2
0  1      year
1  1      year
2  2     years
3  3     weeks
4  2     years

In [6]:
new.columns = ['how_old','space','age_unit']

In [7]:
del new['space']

In [8]:
# Join dataframe with partition
new_animals = pd.concat([animals, new],axis = 1)
new_animals.head(5)

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,how_old,age_unit
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,1,year
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,1,year
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,2,years
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,3,weeks
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,2,years

In [9]:
# Convert column to float
new_animals['num_how_old'] = new_animals['how_old'].astype(float)

In [11]:
# Look at how many different age units are used so they can be converted to a common unit
pd.unique(new_animals["age_unit"])

array(['year', 'years', 'weeks', 'month', 'months', 'days', 'week', 'day',
       None], dtype=object)

In [12]:
# Create new column which will equate age units

## Set a default value for all rows which age unit is in year or years
new_animals['age_in_years'] = new_animals['num_how_old']
## Set value for all rows which age unit is in month or months
new_animals.loc[(new_animals['age_unit'] == 'month'),'age_in_years'] = new_animals['num_how_old']/12
new_animals.loc[(new_animals['age_unit'] == 'months'),'age_in_years'] = new_animals['num_how_old']/12
## Set value for all rows which age unit is in week or weeks
new_animals.loc[(new_animals['age_unit'] == 'week'),'age_in_years'] = new_animals['num_how_old']/52
new_animals.loc[(new_animals['age_unit'] == 'weeks'),'age_in_years'] = new_animals['num_how_old']/52
## Set value for all rows which age unit is in day or days
new_animals.loc[(new_animals['age_unit'] == 'day'),'age_in_years'] = new_animals['num_how_old']/365
new_animals.loc[(new_animals['age_unit'] == 'days'),'age_in_years'] = new_animals['num_how_old']/365

new_animals

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,how_old,age_unit,num_how_old,age_in_years
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,1,year,1.0,1.000000
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,1,year,1.0,1.000000
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,2,years,2.0,2.000000
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,3,weeks,3.0,0.057692
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,2,years,2.0,2.000000
5,A677334,Elsa,2014-04-25 13:04:00,Transfer,Partner,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan,1,month,1.0,0.083333
6,A699218,Jimmy,2015-03-28 13:11:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby,3,weeks,3.0,0.057692
7,A701489,NaN,2015-04-30 17:02:00,Transfer,Partner,Cat,Unknown,3 weeks,Domestic Shorthair Mix,Brown Tabby,3,weeks,3.0,0.057692
8,A671784,Lucy,2014-02-04 17:17:00,Adoption,NaN,Dog,Spayed Female,5 months,American Pit Bull Terrier Mix,Red/White,5,months,5.0,0.416667
9,A677747,NaN,2014-05-03 07:48:00,Adoption,Offsite,Dog,Spayed Female,1 year,Cairn Terrier,White,1,year,1.0,1.000000
10,A668402,NaN,2013-12-05 15:50:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Black,2,years,2.0,2.000000
11,A666320,NaN,2013-11-04 14:48:00,Adoption,NaN,Dog,Spayed Female,2 years,Miniature Schnauzer Mix,Silver,2,years,2.0,2.000000
12,A684601,Rocket,2016-02-03 11:27:00,Adoption,Foster,Dog,Neutered Male,4 years,Pit Bull Mix,Brown,4,years,4.0,4.000000
13,A704702,Scooter,2015-06-08 16:30:00,Return_to_owner,NaN,Dog,Neutered Male,2 years,Yorkshire Terrier Mix,Black/Red,2,years,2.0,2.000000
14,A688584,Preston,2015-11-25 15:00:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Great Pyrenees Mix,White/Cream,1,year,1.0,1.000000
15,A678825,Oliver,2014-07-12 12:10:00,Adoption,Foster,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Orange Tabby/White,3,months,3.0,0.250000
16,A678050,NaN,2014-05-03 16:15:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Brown Tabby,3,weeks,3.0,0.057692
17,A680028,NaN,2014-06-07 12:54:00,Transfer,Partner,Dog,Intact Female,2 weeks,Pit Bull Mix,Brown/White,2,weeks,2.0,0.038462
18,A679010,Chrissy,2014-05-17 11:32:00,Transfer,Partner,Cat,Intact Female,2 years,Angora Mix,White,2,years,2.0,2.000000
19,A684787,Kuma,2014-07-30 17:34:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Flat Coat Retriever Mix,Black,1,year,1.0,1.000000
20,A670658,Anders,2014-01-19 15:03:00,Transfer,Partner,Dog,Intact Male,2 months,Queensland Heeler Mix,Black/White,2,months,2.0,0.166667
21,A708812,Munchkin,2015-09-18 15:19:00,Transfer,Partner,Cat,Spayed Female,1 year,Domestic Shorthair Mix,White,1,year,1.0,1.000000
22,A705262,Jamaica,2015-08-15 14:22:00,Adoption,NaN,Dog,Spayed Female,2 years,Plott Hound/Boxer,Brown Brindle/White,2,years,2.0,2.000000
23,A665781,Quattro,2013-10-28 16:32:00,Adoption,NaN,Dog,Neutered Male,10 months,German Shepherd Mix,Brown/White,10,months,10.0,0.833333
24,A676333,Trigger,2014-04-09 17:44:00,Return_to_owner,NaN,Dog,Neutered Male,2 months,German Shepherd Mix,Black/Brown,2,months,2.0,0.166667
25,A712750,Olive,2015-10-03 15:44:00,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair Mix,Orange Tabby,1,month,1.0,0.083333
26,A718832,Nia,2016-01-15 17:31:00,Adoption,NaN,Dog,Spayed Female,6 months,American Staffordshire Terrier Mix,Chocolate/White,6,months,6.0,0.500000
27,A698777,Chloe,2015-03-25 18:50:00,Adoption,NaN,Dog,Spayed Female,5 years,Chihuahua Shorthair Mix,White/Tan,5,years,5.0,5.000000
28,A715348,Cymbale,2015-11-21 13:01:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Cream Tabby/White,2,months,2.0,0.166667
29,A708666,Jax,2015-07-30 14:30:00,Return_to_owner,NaN,Cat,Neutered Male,7 years,Russian Blue Mix,Blue,7,years,7.0,7.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26699,A676460,Mario,2014-04-21 14:01:00,Euthanasia,Behavior,Dog,Neutered Male,2 years,American Pit Bull Terrier Mix,White/Black,2,years,2.0,2.000000
26700,A704999,Lion,2015-06-15 19:28:00,Return_to_owner,NaN,Dog,Intact Male,10 months,Great Pyrenees/Anatol Shepherd,Tan/Cream,10,months,10.0,0.833333
26701,A678842,Ella,2014-06-15 17:41:00,Transfer,Partner,Dog,Intact Female,11 months,Jack Russell Terrier Mix,White/Black,11,months,11.0,0.916667
26702,A713637,NaN,2015-10-11 09:42:00,Died,In Kennel,Cat,Spayed Female,2 years,Siamese Mix,Lynx Point,2,years,2.0,2.000000
26703,A716670,Mowmow,2015-12-04 12:22:00,Transfer,Partner,Cat,Neutered Male,6 years,Domestic Longhair Mix,Seal Point,6,years,6.0,6.000000
26704,A716223,Alice,2015-11-17 17:17:00,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,White/Black,4,weeks,4.0,0.076923
26705,A662498,Grace,2013-10-19 15:34:00,Transfer,Partner,Cat,Intact Female,2 months,Domestic Shorthair Mix,Tortie,2,months,2.0,0.166667
26706,A689942,Zoey,2014-10-19 13:29:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Black,2,months,2.0,0.166667
26707,A682690,NaN,2014-07-01 17:06:00,Euthanasia,Suffering,Cat,Unknown,1 year,Domestic Shorthair Mix,Brown Tabby,1,year,1.0,1.000000
26708,A666920,Herbie,2013-11-13 17:32:00,Transfer,Partner,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,White/Brown,2,years,2.0,2.000000
26709,A714386,NaN,2015-10-24 00:00:00,Adoption,NaN,Dog,Spayed Female,1 month,Chihuahua Shorthair Mix,Sable/Buff,1,month,1.0,0.083333
26710,A692622,Bonnie,2014-11-24 17:21:00,Transfer,Partner,Dog,Intact Female,1 month,Chihuahua Shorthair/Yorkshire Terrier,Brown/Black,1,month,1.0,0.083333
26711,A666284,Sonja,2013-10-30 18:32:00,Transfer,Partner,Dog,Intact Female,1 year,Cocker Spaniel/Dachshund,Buff,1,year,1.0,1.000000
26712,A535277,Merlin,2015-04-20 16:04:00,Return_to_owner,NaN,Dog,Neutered Male,12 years,Rat Terrier,Chocolate/Tan,12,years,12.0,12.000000
26713,A671169,NaN,2014-01-20 17:37:00,Euthanasia,Suffering,Cat,Intact Female,18 years,Domestic Longhair Mix,Tortie,18,years,18.0,18.000000
26714,A679031,Pete,2014-05-31 16:11:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Orange Tabby,2,months,2.0,0.166667
26715,A708833,Luna,2015-08-05 17:03:00,Adoption,NaN,Dog,Spayed Female,2 months,Pointer Mix,Black/White,2,months,2.0,0.166667
26716,A697158,Max,2015-05-02 21:04:00,Adoption,Offsite,Dog,Neutered Male,2 months,Newfoundland Mix,White/Black,2,months,2.0,0.166667
26717,A519949,Bella,2014-06-30 17:34:00,Return_to_owner,NaN,Dog,Spayed Female,9 years,Bullmastiff Mix,Black,9,years,9.0,9.000000
26718,A701044,NaN,2015-04-28 14:26:00,Adoption,NaN,Dog,Neutered Male,2 months,Siberian Husky/German Shepherd,Black/Tricolor,2,months,2.0,0.166667
26719,A707871,NaN,2015-07-20 09:00:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Brown Tabby/White,2,years,2.0,2.000000
26720,A704405,Brownie,2015-07-18 14:08:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Brown Tabby,2,months,2.0,0.166667
26721,A662019,Green Bean,2014-07-17 09:43:00,Adoption,Foster,Cat,Spayed Female,5 years,Domestic Shorthair Mix,Black,5,years,5.0,5.000000
26722,A687056,NaN,2014-08-31 09:00:00,Transfer,SCRP,Cat,Intact Male,5 months,Domestic Shorthair Mix,Orange Tabby,5,months,5.0,0.416667
26723,A716997,Zeus,2016-01-29 18:52:00,Adoption,NaN,Dog,Neutered Male,6 years,Staffordshire Mix,Blue/White,6,years,6.0,6.000000
26724,A702446,NaN,2015-05-14 11:56:00,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Brown Tabby/White,1,month,1.0,0.083333
26725,A718934,NaN,2016-01-20 18:59:00,Transfer,SCRP,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Brown Tabby,3,months,3.0,0.250000
26726,A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan,4,years,4.0,4.000000
26727,A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black,4,weeks,4.0,0.076923
26728,A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White,1,year,1.0,1.000000

In [14]:
# Get dummies for Animal type

animal_dummies = pd.get_dummies(new_animals['AnimalType'], prefix='type')

animal_dummies.head(5)

   type_Cat  type_Dog
0       0.0       1.0
1       1.0       0.0
2       0.0       1.0
3       1.0       0.0
4       0.0       1.0

In [ ]:
del new_animals['how_old']

In [ ]:
pd.unique(animals["SexuponOutcome"])

In [ ]:
pd.unique(animals['AnimalType'])

In [ ]:
breeder = pd.unique(animals['Breed'])
len(breeder)